---
import Octocat from '../../public/assets/github-mark-white.svg';
export interface Props {
	username: string;
}

const { username } = Astro.props;
const imageUrl = `/assets/${username}.png`
const githubUrl = `https://github.com/${username}`
---
<div class="group   cursor-pointer rounded-lg  w-full bg-slate-400 hover:bg-slate-500 transition-all">
	<a href={githubUrl} class="border-transparent border-1">
		<div>
			<div class="flex flex-col items-end group-hover:bg-white h-8 pl-6 mt-6">
				<span class="uppercase mr-auto text-white group-hover:text-slate-500 text-3xl font-bold text-center leading-7 animate transition-all duration-300">
					{username}
				</span>
				<img src={imageUrl} class="relative -top-[4rem] -right-4 rounded-full w-24 group-hover:w-27 group-hover:h-27 group-hover:-top-[3.8rem] transition-all duration-300 ease-in-out object-cover shadow-lg" alt={ `${username}Github profile picture `}/>
			</div>
		</div>
		<div class="pt-4 overflow-clip">
			<img class="opacity-70 group-hover:opacity-90  relative -bottom-2 right-2 h-28" src={Octocat} alt="Github Logo"/>
		</div>
	</a>
</div>
